@import url("footer.css");
@import url("login.css");
@import url("shopping.css");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    box-shadow: 1px 1px 15px 7px #000000;
    font-family: 'Nunito', sans-serif;
}

.container-fluid {
    color:white;
}


main {
    padding-top: 80px;
    padding-bottom: 120px;
}

li a:hover {
    transform: translateY(-3%);
    color: #e0e256 !important;
}

.banner-logo {
    height: 60px;
    padding-left: 10%;
}

#navbarSupportedContent ul {
    padding-left: 3%;
}

#contenedor-busqueda {
    width: 500%;
    padding: 5% 5%;
}

#boton-perfil {
    padding-right: 0.8%;
}

#boton-busqueda {
    padding-right: 0.8%;
}

#contenedor-perfil li {
    padding-left: 6%;
    color: antiquewhite
}


body {
    background: #808364;
    background: -moz-linear-gradient(top, #808364 0%, #212509 51%, #000000 100%);
    background: -webkit-linear-gradient(top, #808364 0%, #212509 51%, #000000 100%);
    background: linear-gradient(to bottom, #808364 0%, #212509 51%, #000000 100%);
}

#carouselExampleInterval {
    padding: 5% 18%;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 2px 50px;
}

#texto-titulos1 {
    font-family: 'Satisfy', cursive;
    font-size: 6vw;
    text-shadow: 2px 2px 1px black;
    color: rgb(248, 226, 197);
    padding-top: 5%;
}

#texto-p1 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 2vw;
    text-shadow: 2px 2px 1px black;
    color: antiquewhite;
}

#foto-1, #foto-2, #foto-3, #foto-4 {
    filter: contrast(60%) opacity(90%);
    border-radius: 10px;
}

#cont-foto1 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
}

#cont-foto1 p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 38%;

    height: 100%;
}

#cont-foto2 {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    left: 0%;
    right: 0%;
    padding-left: 40px;
}

#cont-foto2 p {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cont-foto2 h5 {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1vw;
}

#cont-foto2 h5 a:link, #cont-foto2 a:visited, #cont-foto2 a:active {
    /* color: rgb(214, 103, 103); */
    color: rgb(241, 241, 132);
}

#texto-titulos2:hover {
    transform: translateY(-3%);
}

#texto-titulos2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    font-size: 5vw;
    text-shadow: 1px 2px 14px rgb(240, 60, 60);
    color: rgb(214, 103, 103);
    margin-left: 60px;
}

#texto-p2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8vw;
    text-shadow: 2px 2px 1px black;
    color: antiquewhite;
    margin-bottom: -15px;
}

.card {
    background-color: #06070100;
    border: none;
    color: antiquewhite;
    align-items: center;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    justify-content: center;
}

#contenedor-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 0% 20%;
    margin-top: 10%;
}

.card-img-top {
    height: 60%;
    width: 60%;
}

.card-body {
    padding: 8% 18%;
    text-align: center;
    font-size: large;
    color: antiquewhite;
    min-height: 100%;
}

/* !important: Da prioridad de estilo */
.navbar {
    background-color: #060701 !important;
}

#carouselExampleInterval {
    padding: 3% 15%;
}


#contenedor-formulario {
    margin: 5vh 15vw; 
    padding: 2vh;
    background-color: #0000007e;
    /* border-radius: 15px; */
}

#subcont-form {
    padding: 2vw 5vw;
}

.input-formulario {
    padding: 1vw;
}

.form-control {
    border-radius: 0;
}

.titulo-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(255, 226, 186);
    margin: 5vw 0;
}

.titulo-contacto h1 {
    transform: scale(.9, 1);
    font-size: 9vw;
    margin: 0;
    font-weight: 0;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: .1vw;

}

.titulo-contacto p {
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    transform: scale(1, 1);
    letter-spacing: .1vw;
}

#boton-formulario {
    background-color: rgb(32, 30, 30); 
    border: 0ch;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: .4vw;
    font-size: 1.1vw;
    padding: 1.5vw 1vw;
}

#cont-btn-form {
    margin-bottom: 10vw;
    margin-top: 1vw;
}

.modal-dialog {
    margin-top: 15%;
}

.modal-content {
    border-radius: 0;
}

#cont-mensaje-form {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    color: antiquewhite;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
}

#cont-mensaje-head {
    display: relative;
    position: absolute;
    left: 87%;
    transform: translateX(95%);
    padding-bottom: -5%;
}

#cont-mensaje-titulo {
    max-width: 87%;
    min-width: 87%;
    padding-top: 1.5vw;
    
}

#cont-mensaje-body {
    max-width: 95%;
    min-width: 95%;
}

#cont-mensaje-titulo h1{
  font-size: 2vw;
  line-height: 90%;  
  text-align: center; 
}

#cont-mensaje-body h2{
    font-size: 1.5vw;
    line-height: 90%;  
    padding: 1.5vw; 
    text-align: center;
  }


  /* ===================  CSS ENCUESTA =================== */

#cont-ext-encuesta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5vw;
}

  #cont-princ-encuesta {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #0000007e;
    border-radius: 25px;
    padding: 2vw 5vw; 
  }

  #cont-princ-encuesta h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2.2vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    padding-bottom: 1vw;
    color: rgb(255, 226, 186);
  }

  #contenedor-estrellas {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    gap:1vw;
  }

  #contenedor-estrellas .fa-solid{
    color: #b9bb49;
    scale: 115%;
  }


  #contenedor-estrellas .fa-regular {
    cursor: pointer;
  }


  /* ===================  CSS ENCUESTA =================== */


@media only screen and (max-width:767px) {
    #contenedor-busqueda, #contenedor-perfil {
        left: 0%;
    }

    .col-6 {
        width: auto;
    }

    #cont-mensaje-body h2 {
        font-size: 2.5vw;
    }

    .modal-dialog {
        margin-top: 35%;
    }

    #cont-ext-encuesta {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 8vw;
    }

}

@media only screen and (max-width:768px) {
    #carouselExampleInterval {
        margin-top: 5%;
        margin-left: 5.5%
    }

    #contenedor-cartas {
        margin-top: 60px;
    }

    .card {
        width: 25vw !important;
    }

    .card-body p{
        font-size: 1.8vw;
        
    }

    footer a, footer p {
        font-size: 1.8vw;
    }

    #logo2 {
        height: 50%;
    }

    .col-2 {
        padding-left: 5%;
        width: 25%;
    }

    #cont-rrss {
        padding-left: 35px;
        padding-right: 20px;
    }

    #texto-titulos2 {
        margin-top: 1vw;
    }

    main {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width:480px) {
    #carouselExampleInterval{
        padding: 5% 5%;
        margin-right: 5%;
    }

    #contenedor-cartas {
        margin-top: 20px;
    }

    #texto-titulos2 {
        margin-top: 2%;
        font-size: 7vw;
    }

    #texto-p2 {
        font-size: 2.2vw;
        padding-top: 1%;
    }

    #cont-foto1 {
        padding-top: 45px;
    }

    #cont-foto1 p {
        padding-bottom: 0;
    }

    #texto-p1 {
        font-size: 3vw;
    }

    #texto-titulos1{
        font-size: 7vw;
        padding-top: 0;
    }

    footer{
        padding-top: 0;
    }
}