@import url("footer.css");
@import url("header.css");
@import url("login.css");
@import url("shopping.css");

/* MAIN DESARROLLADO POR EMERSON */

body {
    background: #808364;
    background: -moz-linear-gradient(top, #808364 0%, #212509 51%, #000000 100%);
    background: -webkit-linear-gradient(top, #808364 0%, #212509 51%, #000000 100%);
    background: linear-gradient(to bottom, #808364 0%, #212509 51%, #000000 100%);
}

main {
    padding-top: 30px;
    padding-bottom: 20px;
}

#carouselExampleInterval {
    padding: 5% 18%;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 2px 50px;
}

#texto-titulos1 {
    font-family: 'Satisfy', cursive;
    font-size: 6vw;
    text-shadow: 2px 2px 1px black;
    color: rgb(248, 226, 197);
    padding-top: 5%;
}

#texto-p1 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 2vw;
    text-shadow: 2px 2px 1px black;
    color: antiquewhite;
}

#foto-1,
#foto-2,
#foto-3,
#foto-4 {
    filter: contrast(60%) opacity(90%);
    border-radius: 10px;
}

#cont-foto1 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
}

#cont-foto1 p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 38%;

    height: 100%;
}

#cont-foto2 {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    left: 0%;
    right: 0%;
    padding-left: 40px;
}

#cont-foto2 p {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cont-foto2 h5 {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1vw;
}

#cont-foto2 h5 a:link,
#cont-foto2 a:visited,
#cont-foto2 a:active {
    /* color: rgb(214, 103, 103); */
    color: rgb(241, 241, 132);
}

#texto-titulos2:hover {
    transform: translateY(-3%);
}

#texto-titulos2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    font-size: 5vw;
    text-shadow: 1px 2px 14px rgb(240, 60, 60);
    color: rgb(214, 103, 103);
    margin-left: 60px;
}

#texto-p2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8vw;
    text-shadow: 2px 2px 1px black;
    color: antiquewhite;
    margin-bottom: -15px;
}

.card {
    background-color: #06070100;
    border: none;
    color: antiquewhite;
    align-items: center;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    justify-content: center;
}

#contenedor-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 0% 20%;
    margin-top: 10%;
}

.card-img-top {
    height: 60%;
    width: 60%;
}

.card-body {
    padding: 8% 18%;
    text-align: center;
    font-size: large;
    color: antiquewhite;
}

.col-2 ul li a {
    display: flex;
}

.col-12 p {
    padding-top: 30px;
    padding-left: 25%;
    font-size: 12px;
}

#carouselExampleInterval {
    padding: 3% 15%;
}

@media screen and (max-width:768px) {

    #contenedor-busqueda,
    #contenedor-perfil {
        left: 0%;
    }
}

/* @media screen and (max-width:768px) {
    #carouselExampleInterval {
        margin-top: 5%;
        margin-left: 5.5%
    }
} */

#contenedor-cartas {
    margin-top: 60px;
}

.card {
    width: 25vw !important;
}

.card-body p {
    font-size: 1.8vw;

}

.col-2 {
    padding-left: 5%;
    width: 25%;
}


#texto-titulos2 {
    margin-top: 1vw;
}

@media screen and (max-width:420px) {
    #carouselExampleInterval {
        padding: 5% 5%;
        margin-right: 5%;
    }
}

#contenedor-cartas {
    margin-top: 20px;
}

#logo2 {
    height: 35%;
    padding-left: 25px;
}

.col-2 {
    padding-left: 1%;
    width: 40%;
}

.col-12 {
    width: 100%;
    padding: 0%;
}


#texto-p2 {
    font-size: 2.2vw;
    padding-top: 1%;
}

#cont-foto1 {
    padding-top: 45px;
}

#cont-foto1 p {
    padding-bottom: 0;
}

#texto-p1 {
    font-size: 3vw;
}

#texto-titulos1 {
    font-size: 7vw;

}


.col {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px
}

body {
    width: 100%;
}



.bg-primary {
    background-color: rgb(92, 92, 40) !important;
}

.text-primary {
    color: antiquewhite !important;
}



